<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="app">
        <div class="container">
            <div class="header">
                <h2 id="title">Budget App</h2>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="/income.html" class="btn btn-secondary"> Income</a></li>
                    <li><a href="/expenses.html" class="btn btn-secondary"> Expenses</a></li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <h4 id="title"> Data Expenses </h4>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalAdd">Add Expenses</button>
                        </div>
                        <div class="ml-auto mr-5">
                            <h5 id="balance"></h5>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark text-center">
                                <tr>
                                    <th>No</th>
                                    <th>Date</th>
                                    <th>Expenses</th>
                                    <th>Note</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="dataExpenses">
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-right" colspan="4">Total</td>
                                    <td class="text-right" id="totalExpenses"></td>
                                    <td class="text-right"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Expenses</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="saveExpenses" id="formAdd">
                        <div class="form-group">
                          <label for="date">Expenses Date</label>
                          <input v-model="formAdd.expenses_date" type="date" class="form-control" id="date">
                        </div>
                        <div class="form-group">
                          <label for="expenses">Expenses</label>
                          <input v-model="formAdd.expenses" type="text" class="form-control" id="expenses">
                        </div>
                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea v-model="formAdd.notes" class="form-control" id="note" cols="10" rows="5"> </textarea>
                        </div>
                        <div class="form-group">
                          <label for="amount">Amount</label>
                          <input v-model="formAdd.amount" type="number" class="form-control" min="1" id="amount">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                  <button type="submit" form="formAdd" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Expenses</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="editExpenses" id="formEdit">
                        <input type="hidden" v-model="formEdit.id">
                        <div class="form-group">
                          <label for="date">Expenses Date</label>
                          <input v-model="formEdit.expenses_date" type="date" class="form-control" id="date">
                        </div>
                        <div class="form-group">
                          <label for="expenses">Expenses</label>
                          <input v-model="formEdit.expenses" type="text" class="form-control" id="expenses">
                        </div>
                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea v-model="formEdit.notes" class="form-control" id="note" cols="10" rows="5"> </textarea>
                        </div>
                        <div class="form-group">
                          <label for="amount">Amount</label>
                          <input v-model="formEdit.amount" type="number" class="form-control" min="1" id="amount">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                  <button type="submit" form="formEdit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    let apiUrl = 'http://localhost:3000/api'
    Vue.prototype.$totalIncome = 0;
    Vue.prototype.$totalExpenses = 0;
    Vue.prototype.$balance = 0;

    let vm = new Vue({
        el: '#app',
        data: {
            formAdd: {
                expenses_date: '',
                expenses: '',
                amount: '',
                notes: ''
            },
            formEdit: {
                id: '',
                expenses_date: '',
                expenses: '',
                amount: '',
                notes: ''
            },
        },
        mounted() {
            this.getTotalIncome();
            this.loadDataExpenses();
        },
        methods:{

            getTotalIncome() {
                axios.get(`${apiUrl}/total-income`)
                    .then((res) => {
                        this.$totalIncome = res.data.total

                    })
                    .catch((err) => {
                        console.log(err.message);
                    })
            },

            loadDataExpenses() {
                axios.get(`${apiUrl}/expenses`)
                    .then((res) => {
                        let html = '';
                        let totalExpenses = 0;
                        res.data.forEach((value, index) => {
                            html += `
                                <tr>
                                        <td>${++index}</td>
                                        <td>${new Date(value.expenses_date).toLocaleDateString('id')}</td>
                                        <td>${value.expenses}</td>
                                        <td>${value.notes}</td>
                                        <td class="text-right">Rp. ${value.amount}</td>
                                        <td>
                                            <button class="btn btn-warning" onclick="vm.loadEditData('${value._id}', '${value.expenses_date}', '${value.expenses}', '${value.notes}', ${value.amount})" data-toggle="modal" data-target="#modalEdit"> Edit</button>
                                            <button class="btn btn-danger" onclick="vm.deleteExpenses('${value._id}')"> Delete</button>
                                        </td>
                                </tr>
                            `;
                            totalExpenses += value.amount
                        })

                        this.$totalExpenses = parseInt(totalExpenses)

                        this.$balance = parseInt(this.$totalIncome) - parseInt(totalExpenses)

                        document.getElementById('dataExpenses').innerHTML = html
                        document.getElementById('totalExpenses').innerHTML = 'Rp. ' + this.$totalExpenses 
                        document.getElementById('balance').innerHTML = 'Balance : Rp. ' + this.$balance 
                    })
                    .catch((err) => {
                        console.log(err.message);
                    })
            },

            loadEditData(id, expenses_date, expenses, notes, amount) {
                this.formEdit.id = id,
                this.formEdit.expenses_date = new Date(expenses_date).toISOString().split('T')[0],
                this.formEdit.expenses = expenses,
                this.formEdit.notes = notes,
                this.formEdit.amount = amount
            },

            saveExpenses() {
                axios.post(`${apiUrl}/add-expenses`, this.formAdd)
                    .then((res) => {
                        this.loadDataExpenses();
                        $('#modalAdd').modal('hide');
                    })
                    .catch((err) => {
                        console.log(err.message);
                    })
            },

            editExpenses() {
                axios.put(`${apiUrl}/update-expenses/${this.formEdit.id}`, this.formEdit)
                    .then((res) => {
                        this.loadDataExpenses();
                        $('#modalEdit').modal('hide');
                    })
                    .catch((err) => {
                        console.log(err.message);
                    })
            },

            deleteExpenses(id) {
                axios.delete(`${apiUrl}/delete-expenses/${id}`)
                    .then((res) => {
                        this.loadDataExpenses();
                    })
                    .catch((err) => {
                        console.log(err.message);
                    })
            }
        }
    })
</script>